body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  .main-nav {
      display: flex;
      }
      .main-nav ul {
          display: flex;
          justify-content: space-between;
      }
      .main-nav ul li {
          list-style-type: none;
          padding: 1rem;
      }
      .main-nav ul li a {
          text-decoration: none;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .active {
          border-bottom: 2px solid black;
      }
      .log-in {
          padding: 5px;
          border-radius: 5px;
          background-color: white;
          border-color: rgb(199, 183, 183);
          font-size: large;
      }
      .sign-up {
          background-color: rgb(156, 156, 240);
          color: white;
          border: none;
          padding: 15px;
          border-radius: 15px;
          font-size: large;
      }
      .nav-grey {
          background-color: rgb(131, 93, 93);
          padding: 2rem;
      }
      div {
          text-align: center;
      }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    width: 980px;
    padding: 1rem;
    margin: 0 auto;
  }
  .col-auto {
  flex: 1 0 0;
  }
  .col-1 {
    flex: 0 0 8.33333333%;
  }
  .col-2 {
    flex: 0 0 16.66666667%;
  }
  .col-3 {
    flex: 0 0 25%;
  }
  .col-4 {
    flex: 0 0 33.3333333%;
  }
  .col-5 {
    flex: 0 0 41.66666667%;
  }
  .col-6 {
    flex: 0 0 50%;
  }
  .col-7 {
    flex: 0 0 58.333333333%;
  }
  .col-8 {
    flex: 0 0 66.66666667%;
  }
  .col-9 {
    flex: 0 0 75%;
  }
  .col-10 {
    flex: 0 0 83.33333333%;
  }
  .col-11 {
    flex: 0 0 96.66666667%;
  }
  .col-12 {
    flex: 0 0 100%;
  }
  .example-1 {
      border: 1px solid black;
      margin: 10px;
      padding: 15px;
  }
  .example-2 {
      box-shadow: 0 0 10px 0 rgb(139, 99, 99);
      margin: 10px;
      padding: 15px;
  }
  .example-3 {
      box-shadow: 0 0 10px 0 rgb(83, 20, 20);
      margin: 10px;
      padding: 15px;
  }
  .example-1:hover {
      background-color: cornflowerblue;
      transform: scale(1.2);
      
    }
  .example-2:hover {
      transform: skew(20%);
  }
  .example-3:hover {
      transform: translate(50%);
  }
  main {
     text-align: center;
  }
  .btn {
     text-align: center;
     border-radius: 30px;
     padding: 15px;
  }
  section {
      text-align: center;
      padding-top: 50px;
  }